/* =========================================================================
   Base Styles
   base elements like h1, body, ul, li, img
   ========================================================================= */

body {
    background-color: $color-background;
}

a {
    color: $color-link;
    text-decoration: underline;

    &:hover {
        color: $color-link-hover;
    }

    &.inactive {
        text-decoration: none;
        color: $color-link-hover;
    }

    @include transition(color 0.3s ease);
}

a.btn {
    text-decoration: none;
}

.btn.btn-primary {
    background: #fff;
    border-color: $color-weleda;
    color: $color-weleda;
}
