/* =========================================================================
   Box Modules
   ========================================================================= */

.box-wrapper-1-3,
.box-wrapper-1-2 {
    @extend .col-xs-12;
    @extend .col-sm-6;

    height: $size-base * 10;
    margin-top: $size-base;
    margin-bottom: $size-base;

    @media screen and (min-width: $screen-xs-max) {
        height: $size-base * 12;
    }

    @media screen and (min-width: $screen-sm-max) {
        height: $size-base * 14;
    }
}

.box-wrapper-1-3 {
    @extend .col-md-4;
}

.box-wrapper-1-2 {

    @media screen and (min-width: $screen-xs-max) {
        height: $size-base * 14;
    }

    @media screen and (min-width: $screen-sm-max) {
        height: $size-base * 18;
    }

    @media screen and (min-width: $screen-md-max) {
        height: $size-base * 22;
    }
}

.box-wrapper-1-4 {
    @extend .col-sm-6;
    @extend .col-md-3;

    .btn {
        height: $size-base * 5;
        padding-top: $size-base * 1.7;
        padding-bottom: $size-base * 1.7;
        margin-bottom: $size-base;
    }
}

.box {
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 100%;

    h2 {
        position: absolute;
        width: 100%;
        opacity: 0.6;
        text-align: center;
        top: $size-base * 2;
        color: $color-weleda;
        @include transition(opacity 1s ease);

        @media screen and (min-width: $screen-sm-max) {
            opacity: 0;
            top: $size-base * 4;
        }
    }

    &:hover {
        h2 {
            opacity: 1;
        }
    }
}

.box-wrapper-1-2 h2 {
    @media screen and (min-width: $screen-sm-max) {
        top: $size-base * 6;
    }

    @media screen and (min-width: $screen-md-max) {
        top: $size-base * 8;
    }
}

.box--welt { background-image: url('../img/home/welt.jpg'); }
.box--pflege { background-image: url('../img/home/pflege.jpg'); }
.box--arznei { background-image: url('../img/home/arznei.jpg'); }
.box--wirkstoffe { background-image: url('../img/home/wirkstoffe.jpg'); }
.box--familie { background-image: url('../img/home/familie.jpg'); }
.box--gesicht { background-image: url('../img/pflege/gesicht.jpg'); }
.box--body { background-image: url('../img/pflege/koerper.jpg'); }
.box--haare { background-image: url('../img/pflege/haare.jpg'); }
.box--mund { background-image: url('../img/pflege/mund.jpg'); }
.box--herren { background-image: url('../img/pflege/men.jpg'); }
.box--mutter { background-image: url('../img/pflege/muetter.jpg'); }
.box--baby { background-image: url('../img/pflege/baby.jpg'); }