.social-bar {
    background-color: $color-weleda;

    height: $size-base * 8;
    width: 100%;

    margin: $size-base * 2 0;

    .icon {
        background-color: #fff;
        height: $size-base * 6;
        width: $size-base * 6;
        @include border-left-radius($size-base * 6);
        @include border-right-radius($size-base * 6);
        float: left;
        margin: $size-base;
        text-indent: -9999px;
        position: relative;
    }

    .text-right {
        .icon {
            float: right;
            text-indent: 9999px;
        }
    }
}