.social-bar {
    background-color: $color-weleda;

    height: $size-base * 8;
    width: 100%;

    margin: $size-base * 2 0;

    .icon {
        background-color: #fff;
        height: $size-base * 6;
        width: $size-base * 6;
        @include border-left-radius($size-base * 6);
        @include border-right-radius($size-base * 6);
        float: left;
        margin: $size-base;
        position: relative;
        color: $color-weleda;
        font-size: $size-base * 2.5;
        font-weight: bold;
        line-height: $size-base * 2.5;
        padding: 20px;

        &:hover {
            color: #fff;
            background-color: lighten($color-weleda, 20);
        }

        @include transition(all 0.4s ease);
    }

    .text-right {
        .icon {
            float: right;
        }
    }
}